@model IEnumerable<Domain.Models.User>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ASP.NET MVC Test Application</h1>
    <p>Take list of registered users from local DB and input to the Home page</p>
</div>

<div>
    <table border="1">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Email</td>
                <td>@u.FirstName</td>
                <td>@u.LastName</td>
            </tr>
        }
    </table>
</div>